<p style="color: green"><%= notice %></p>

<h1> Inicio </h1>

<%= link_to "Nuevo Tweet ¿Qué estás pensando?", new_tweet_path %>

<!-- 
<h1>Tweets</h1> 
--agregando ahora este formulario que es un buscador luego modif el controlador para q esto funcione--
<%= form_with url: tweets_path, method: :get do |form| %>
    <%= form.text_field :query_text, value: params[:query_text] %>
    <%= form.submit "Buscar", class: "btn btn-primary" %>
<% end %>  <br>  <br> 
-->

<div id="tweets">
<!--modificando con if else end por si no existen coincidencias -->
  <% if @tweets.count > 0 %> <!-- linea agregada al final x si no existen coincidencias-->
    <% @tweets.order(id: :desc).each do |tweet| %> <!--acá le agregué lo del older id desc para que el ultimo tweet se vea de los 1ros-->
      <%= render tweet %>
      <p>
        <%= link_to "Ver más....", tweet %>
      </p>
    <% end %>
    
  <%= raw pagy_nav(@pagy) %> <!-- no olvidar para mostrar la paginación-->

  <% else %> <!-- en caso contrario -->
      <h1> No existen coincidencias </h1>
  <% end %>

</div>


