<div class="twittear">
<h1>Nuevo tweet</h1>

<%= render "form", tweet: @tweet %>
</div>

<br>

<div>
  <%= link_to "Volver a la vista principal", tweets_path %> <br> <br>
   <div class="d-flex justify-content-center">
     <%== pagy_bootstrap_nav(@pagy) %> <!-- no olvidar para mostrar la paginación-->
  </div>
</div>


<h1>Tweets</h1>

<div id="tweets">
    <% @tweets.order(id: :desc).each do |tweet| %>
      <%= render tweet %>
      <p>
       <button class="btn btn-info btn-lg" type="submit">
        <%= link_to "Ver más...", tweet, class:"textotwitter2" %> </button>
      </p>
    <% end %>
</div>
