<h1>Nuevo tweet</h1>

<%= render "form", tweet: @tweet %>

<br>

<div>
  <%= link_to "Volver a la vista principal", tweets_path %>
</div>

<h1>Tweets</h1>

<div id="tweets">
    <% @tweets.order(id: :desc).each do |tweet| %>
      <%= render tweet %>
      <p>
        <%= link_to "Ver más...", tweet %>
      </p>
    <% end %>
    
  <%= raw pagy_nav(@pagy) %> <!-- no olvidar para mostrar la paginación-->

</div>
